body {
       background-color: Lavender
}

header a {
       text-decoration: none;
       text-align: center;
       border: 1px dotted black;
       border-radius: 10px;
       padding: 5px;
       margin: 5px;
       color: black; 
       background-color: Lavender
}

h5 {
       font-size: 20px;
       text-align: center
}

body p {
       text-align: left;
       font-size: 17px
}

header, h2, footer {
       background-color: Lightyellow;
       text-align: center
     }
