header a {
       text-decoration: none;
       text-align: center;
       border: 5px solid black;
       padding: 5px;
       margin: 5px;
       color: black
}

body p {
       text-align: left;
       font-size: 17px
}

header, h1, h2, h5, footer {
       background-color: Lavender;
       text-align: center
     }
