header a {
       text-decoration: none;
       text-align: center;
       border: 5px solid black;
       padding: 5px;
       margin: 5px
}

body, h5 {
       font-family: coursive; 
       font-size: 20px
     }

header, h1, h2, footer {
       background-color: Lavender;
       text-align: center
     }
